extends ../node_modules/jade-bootstrap/_bootstrap

head
  title = title
block body
  +navbar("Colenso Wesbite", "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/search", "active") Search
  .container
    h1 #{title}
    .container
    p  This is the #{title} for !{placer}.
     //-| !{doc}
    .container
      ul
        each val in Array
          li
            a(href="/result?filr=#{val}") #{val}
            //- this is also possible href ="/open?filr=#{val}". This would make it look lik a form on the open page. implement same way as the search page.
